#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  line-height: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* added from GPT */
.App {
  text-align: center;
  margin-top: 50px;
}

input {
  font-size: 20px;
  padding: 10px;
}


.board {
  font-size: 3em;
  font-family: monospace;
}

.keyboard {
  margin-top: 80px;
  font-size: 3em;
  font-family: monospace;
}
.keyboard div {
  margin-top: 10px;
}
.keyboard span {
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-left: 2px;
}

.keyboard button {
  padding: 8px;
  margin-left: 8px;
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 75px;
  vertical-align: middle;
}

.note {
  margin-top: 30px;
  font-size: 1.5em;
}

.activeInput {
  font-size: 3em;
  font-family: monospace;
  white-space: pre; /* Preserves the whitespace padding to keep alignment */
}